:root {
    --lavender-web: hsla(259, 19%, 83%, 1);
    --charcoal: hsla(208, 13%, 30%, 1);
    --lavender-blush: hsla(338, 29%, 95%, 1);
    --silver: hsla(6, 13%, 71%, 1);
    --cinereous: hsla(13, 13%, 47%, 1);
    --van-dyke: hsla(353, 16%, 21%, 1);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--lavender-blush);
    color: var(--charcoal);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 20px;
}

.navbar {
    background-color: var(--lavender-blush);
    color: var(--charcoal);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateY(0);
}

.navbar.hidden {
    transform: translateY(-100%);
}

.navbar .nav-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.navbar .nav-links a {
    color: var(--charcoal);
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    transition: color 0.3s ease;
}

.navbar .nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--van-dyke);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navbar .nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar .nav-links a:hover {
    color: var(--van-dyke);
}

.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Apple.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax effect with fixed background */
    z-index: -1;
    opacity: 0.8;
}

.hero .hero-text {
    position: absolute;
    bottom: 5%;
    left: 2%;
    color: var(--lavender-blush);
    z-index: 10;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Slight shadow */
}

.hero .hero-text h1 {
    font-size: 3rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.hero .hero-text .bold {
    font-weight: bold;
}

.hero .hero-text p {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.hero .hero-info {
    background-color: var(--lavender-blush);
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    width: 30%;
    height: 100vh; /* Match the height of the hero background image */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero .hero-info .info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero .hero-info .info-block h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.hero .hero-info .info-block p {
    font-size: 1rem;
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.hero .hero-info .info-block .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.hero .hero-info .info-block .social-icons a {
    margin: 0 5px;
    color: var(--charcoal);
    transition: color 0.3s ease;
}

.hero .hero-info .info-block .social-icons a:hover {
    color: var(--van-dyke);
}

.hero .hero-info .info-block .download-cv {
    background-color: var(--van-dyke);
    color: var(--lavender-blush);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.hero .hero-info .info-block .download-cv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient-outline);
    z-index: -1;
    transition: transform 0.3s ease;
    transform: scale(0);
    transform-origin: center;
}

.hero .hero-info .info-block .download-cv:hover::before {
    transform: scale(1);
}

.hero .hero-info .info-block .download-cv:hover {
    background-color: var(--van-dyke);
    box-shadow: 0 0 10px rgba(117, 13, 55, 0.8);
}

.hero #mail {
    text-decoration: none;
    color: var(--charcoal);
    transition: color 0.3s ease;
}

.hero #mail:hover {
    color: var(--van-dyke);
}

.main-section:nth-child(odd) {
    padding: 5rem 2rem;
    background-color: var(--lavender-web);
}
.main-section:nth-child(even) {
    padding: 5rem 2rem;
    background-color: var(--lavender-blush);
}

.about .container, .projects .container, .skills .container, .experience .container, .interests .container {
    max-width: 800px;
    margin: 0 auto;
}

.about h2, .projects h2, .skills h2, .experience h2, .interests h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--van-dyke);
}

.about .title-span {
    font-size: 4rem;
}

.about p {
    font-size: 1.2rem;
}

.projects .title-span {
    font-size: 2.5rem;
}

.projects .project-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects .project-item {
    border-bottom: 1px solid var(--silver);
    padding-bottom: 1rem;
}

.projects .project-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--van-dyke);
}

.projects .project-item p {
    font-size: 1.2rem;
    margin: 0;
}

.projects .project-buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.projects .project-button {
    background-color: var(--van-dyke);
    color: var(--lavender-blush);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.projects .project-button:hover {
    background-color: var(--cinereous);
    box-shadow: 0 0 10px rgba(117, 13, 55, 0.8);
}

.projects .project-button a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent button */
}

.skills .title-span {
    font-size: 2.5rem;
}

.skills .subtitle-span {
    font-size: 1.5rem;
}

.skills .skill-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skills .skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .skill-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--charcoal);
}

.skills .progress-bar {
    background-color: var(--lavender-blush);
    border-radius: 5px;
    margin-top: 12px;
    height: 10px;
    width: 60%;
    position: relative;
}

.skills .progress {
    background-color: var(--van-dyke);
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.experience .title-span {
    font-size: 2.5rem;
}

.experience .subtitle-span {
    font-size: 1.5rem;
}

.experience .experience-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.experience .experience-item {
    border-bottom: 1px solid var(--silver);
    padding-bottom: 1rem;
}

.experience .experience-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--van-dyke);
}

.experience .experience-item p {
    font-size: 1.2rem;
    margin: 0;
}

.interests .title-span {
    font-size: 2.5rem;
}

.interests .subtitle-span {
    font-size: 1.5rem;
    color: var(--van-dyke);
}

.interests .interest-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.interests .interest-item {
    border-bottom: 1px solid var(--silver);
    padding-bottom: 1rem;
    color: var(--charcoal);
}

.interests .interest-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--van-dyke);
}

.interests .interest-item p {
    font-size: 1.2rem;
    margin: 0;
    color: var(--charcoal);
}

footer {
    background-color: var(--van-dyke);
    color: var(--lavender-blush);
    text-align: center;
    padding: 1rem;
    margin-top: -1px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.footer-column {
    text-align: left;
}

.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--lavender-blush);
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    color: var(--lavender-blush);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: var(--silver);
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .hero .hero-bg {
        display: none;
    }

    .hero .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--lavender-blush);
        text-align: center;
        z-index: 2;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    }

    .hero .hero-text h1 {
        font-size: 2.5rem;
        margin: 0;
    }

    .hero .hero-text p {
        font-size: 1.5rem;
        margin: 0;
    }

    .hero .hero-info {
        background-color: var(--lavender-blush);
        padding: 20px;
        border-radius: 10px; /* Add border-radius for card effect */
        width: 80%; /* Adjust width for better fit */
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        z-index: 3;
        margin: 0 auto; /* Center the card */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for card effect */
    }

    .hero .hero-info .info-block .download-cv {
        margin-top: 40px;
    }

    .about, .projects, .skills, .experience, .interests {
        padding: 3rem 1rem;
    }

    .about h2, .projects h2, .skills h2, .experience h2, .interests h2 {
        font-size: 2rem;
        text-align: center;
    }

    .about .title-span, .projects .title-span, .skills .title-span, .experience .title-span, .interests .title-span {
        font-size: 2rem;
        text-align: center;
    }

    .about, .projects, .skills, .experience, .interests {
        font-size: 1.2rem;
        text-align: center;
    }

    .about p, .projects .project-item p, .skills .skill-item p, .experience .experience-item p, .interests .interest-item p {
        font-size: 1rem;
    }

    .skills .skill-item h3, .experience .experience-item h3, .interests .interest-item h3 {
        font-size: 1.2rem;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        text-align: center;
        margin-bottom: 1rem;
    }
}